{% extends 'vinculacion/base.html' %}
{% load static %}

{% block extraresources %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block headers %}

{% endblock %}

{% block contenido %}

<div class="d-flex flex-column justify-content-center align-items-center">

  <h1 class="titulo-seccion">Instituciones educativas</h1>



  <div class="row w-75">
    <div class="col-md-6">

      <form method="GET" action="" class="mb-3">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Buscar instituciones..." value="{{ request.GET.q }}">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
      </form>

      {% if not instituciones %}
        <div class="alert alert-secondary">No existen instituciones educativas.</div>
      {% endif %}

      {% for institucion_educativa in instituciones %}
      <ol class="list-group list-group-flush">
        <div class="col-md-18">
          <div class="card empresa">
            <div class="row row-no-gutters">
              <div class="col-4">
                {% if institucion_educativa.imagen %}
                <img src="{{MEDIA_URL}}/{{institucion_educativa.imagen}}" class="card-img m-2" alt="...">
                {% else %}
                <img src="{% static 'img/empresa.jpg' %}" class="card-img m-2" alt="...">
                {% endif %}
              </div>
              <div class="col-8">
                <div class="card-body">
                  <h5 class="card-title institucion-nombre" data-lat="{{ institucion_educativa.latitud }}" data-lng="{{ institucion_educativa.longitud }}">
                    <a href="javascript:void(0);" onclick="setMarker({{ institucion_educativa.latitud }}, {{ institucion_educativa.longitud }})">
                      {{institucion_educativa.nombre_institucion|capfirst}}
                    </a>
                  </h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><b>Especialidades:</b> {{institucion_educativa.especialidades.all|join:", "}}</li>
                  <li class="list-group-item"><b>Área del conocimiento:</b> {{institucion_educativa.area_conocimiento}}</li>
                  <li class="list-group-item"><b>Contacto:</b></br>
                    Correo electrónico: {{institucion_educativa.email}}</br>
                    Teléfono: {{institucion_educativa.telefono}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </ol>
      {% endfor %}
    </div>
    {% if instituciones %}
      <div class="col-md-6">
        <div id="map" style="height: 450px; width: 120%;"></div>
      </div>
    {% else %}
    {% endif %}

    <div class="d-flex justify-content-center mt-3">
    <ul class="pagination pagination-primary">
        {% if instituciones.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ instituciones.previous_page_number }}">
                <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
            </a></li>
        <li class="page-item"><a class="page-link" href="?page={{ instituciones.previous_page_number }}">{{instituciones.previous_page_number}}</a></li>
        {% endif %}

        <li class="page-item active"><a class="page-link" href="#">{{instituciones.number}}</a></li>

        {% if instituciones.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ instituciones.next_page_number }}">{{instituciones.next_page_number}}</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ instituciones.next_page_number }}">
                <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
            </a></li>
        {% endif %}
    </ul>
    </div>

  </div>

</div>

{% endblock %}

{% block scripts %}

{% include 'vinculacion/mapa_empresas.html' %}

{% endblock scripts %}