{% extends 'administracion/base.html' %}
{% load static %}

{% block contenido %}

<section>
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a class="btn btn-danger btn-sm" href="{% url 'administracion:empresas_lista' %}">Regresar</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a id="editar" href="{% url 'administracion:empresas_editar' empresa.pk %}"><span
                                class = "btn btn-warning btn-sm text-dark">Editar</span></a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        {% if tiene_imagen %}
                        <img src="{{ empresa.imagen.url }}" alt="avatar" class="rounded-circle img-fluid"
                            style="width: 150px;">
                        {% else %}
                            <p>No hay foto del perfil disponible</p>
                        {% endif %}
                        <h5 class="my-3">{{empresa.nombre_empresa}}</h5>
                        <p class="text-muted mb-2"><strong>Areas del Conocimiento:</strong></p>
                            {% for areas in empresa.especialidades.all %}
                                <p class="text-muted mb-3">{{ areas }}</p>
                            {% endfor %}
                        <p class="text-muted mb-2"><strong>Especialidad:</strong></p>
                        <p class="text-muted mb-4">{{empresa.especialidad}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Tipo de empresa o institución</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{empresa.get_tipo_institucion_display}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Correo</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{empresa.email}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Teléfono</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{empresa.telefono}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Dirección</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{empresa.calle}} #{{empresa.numero_exterior}},
                                    {{empresa.colonia}}, {{empresa.codigo_postal}},
                                    {{empresa.municipio}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class = "row">
                            <div class = "col" hidden ><p>Latitud: {{empresa.latitud}}</p></div>
                            <div class = "col" hidden ><p>Longitud: {{empresa.longitud}}</p></div>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Geolocalización</p>
                            </div>
                            <br>
                            <br>
                            <div id="map" style="height: 300px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}

{% block scripts %}
    <script>

        var map;
        var marker;

        var latitudE = {{empresa.latitud}};
        var longitudE = {{empresa.longitud}};

        if (latitudE){
            console.log("Eciste la latitud");
        } else {
            console.log("No existe la latitud");
        }

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: parseFloat(latitudE), lng: parseFloat(longitudE) },
                zoom: 16,
            });

            marker = new google.maps.Marker({
                map,
                draggable: false,
                animation: google.maps.Animation.BOUNCE,
                position: { lat: parseFloat(latitudE), lng: parseFloat(longitudE) },
            });
            marker.setAnimation(google.maps.Animation.BOUNCE);
            marker.addListener("dragend", toggleBounce);


        }

        function toggleBounce() {
            var posicion = marker.getPosition();
            //marker.setAnimation(google.maps.Animation.BOUNCE);
            document.getElementById('id_latitud').value = posicion.lat();
            document.getElementById('id_longitud').value = posicion.lng();

        }
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL9a8LN_KKjD3K86k5afjwOCGlMcVAhNc&callback=initMap">

    </script>
{% endblock %}